<nav
  class="navbar fixed-top navbar-expand-lg"
  style="background-color: #e3f2fd"
  data-bs-theme="light"
>
  <div class="container">
    <a class="navbar-brand" href="#">CCP Portal</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="/offers/view">Offers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/free-units/view">FreeUnits</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="#">Change-Language</a>
        </li>
      </ul>
      <form action="/search" method="POST" class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Enter Number Here"
          aria-label="Search"
          name="number"
        />
        <button class="btn btn-outline-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</nav>
